<div class="page-wrapper page" fxLayout="column" fxLayoutGap="2em">
  <!-- BUTTONS -->
  <div fxLayout="row">
    <planhub-card fxFlex>
      <h1>Buttons</h1>
      <hr>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2em" class="page-wrapper">
        <planhub-button [buttonType]="buttonTypeEnum.Primary"
                        buttonText="Primary"></planhub-button>
        <planhub-button [buttonType]="buttonTypeEnum.Secondary"
                        buttonText="Secondary"></planhub-button>
        <planhub-button [buttonType]="buttonTypeEnum.Tertiary"
                        buttonText="Tertiary"></planhub-button>
        <planhub-button [buttonType]="buttonTypeEnum.Primary"
                        buttonText="Disabled Primary"
                        [disabled]="true"></planhub-button>
        <planhub-button [buttonType]="buttonTypeEnum.Secondary"
                        buttonText="Disabled Secondary"
                        [disabled]="true"></planhub-button>
        <planhub-button [buttonType]="buttonTypeEnum.Tertiary"
                        buttonText="Disabled Tertiary"
                        [disabled]="true"></planhub-button>
      </div>
    </planhub-card>
  </div>

  <div fxLayout="row">
    <planhub-card fxFlex>
      <h1>Form Fields</h1>
      <hr>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2em" class="page-wrapper">
        <planhub-select [options]="selectOptions"
                        displayProperty="name"
                        label="Select:"
                        (selectionChange)="selectionChange($event)"></planhub-select>
        <planhub-select [options]="selectOptions"
                        displayProperty="name"
                        label="Multi Select:"
                        (selectionChange)="selectionChange($event)"
                        [isMultiSelect]="true"></planhub-select>
        <planhub-select [options]="selectOptions"
                        displayProperty="name"
                        label="Disabled Select:"
                        (selectionChange)="selectionChange($event)"
                        [disabled]="true"></planhub-select>
        <form>
          <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="1em">
            <planhub-input label="Input"></planhub-input>
            <div></div>
            <planhub-input label="Required Input"
                           [required]="true"></planhub-input>
            <div></div>
            <planhub-input label="Disabled Input"
                           [disabled]="true"></planhub-input>
          </div>
        </form>
      </div>
    </planhub-card>
  </div>

  <div fxLayout="row">
    <planhub-card fxFlex>
      <h1>Controls</h1>
      <hr>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2em" class="page-wrapper">
        <planhub-checkbox label="Checkbox"></planhub-checkbox>
        <planhub-checkbox label="Checkbox"
                          [disabled]="true"></planhub-checkbox>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="4em">
          <planhub-radio-button ariaLabel="Select an Option"
                                [options]="radioOptions"></planhub-radio-button>
          <planhub-radio-button ariaLabel="Select an Option"
                                [options]="radioOptions"
                                [layout]="layoutEnum.Column"></planhub-radio-button>
          <planhub-radio-button ariaLabel="Select an Option"
                                [options]="radioOptions"
                                [disabled]="true"></planhub-radio-button>
        </div>
        <planhub-slide-toggle label="slide toggle"></planhub-slide-toggle>
        <planhub-slide-toggle label="slide toggle"
                              [disabled]="true"></planhub-slide-toggle>
      </div>
    </planhub-card>
  </div>

  <div fxLayout="row">
    <planhub-card fxFlex>
      <h1>Chips</h1>
      <hr>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2em" class="page-wrapper">
        <planhub-chip-list [chipConfigs]="largeChipConfigs"></planhub-chip-list>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2em" class="page-wrapper">
        <planhub-input #blueChipInput
                       label="add a blue chip"
                       (keyup.enter)="addSmallBlueChip(blueChipInput.formControl.value, blueChipInput)"></planhub-input>
        <planhub-chip-list [chipConfigs]="smallBlueChipConfigs"
                           [chipType]="chipTypeEnum.Small"
                           [chipColor]="chipColorEnum.Blue"></planhub-chip-list>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2em" class="page-wrapper">
        <planhub-input #whiteChipInput
                       label="add a white chip"
                       (keyup.enter)="addSmallWhiteChip(whiteChipInput.formControl.value, whiteChipInput)"></planhub-input>
        <planhub-chip-list [chipConfigs]="smallWhiteChipConfigs"
                           [chipType]="chipTypeEnum.Small"
                           [chipColor]="chipColorEnum.White"></planhub-chip-list>
      </div>
    </planhub-card>
  </div>

  <div fxLayout="row">
    <planhub-card fxFlex>
      <h1>Search Bars</h1>
      <hr>
      <form>
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2em" class="page-wrapper">
          <planhub-search label="Search"
                          placeholder="Search"></planhub-search>
          <planhub-search label="Disabled Search"
                          placeholder="Disabled Search"
                          [disabled]="true"></planhub-search>
          <planhub-search label="Autocomplete Search"
                          placeholder="Autocomplete Search"
                          [autocompleteOptions]="autoCompleteOptionsStrings"></planhub-search>
          <planhub-search label="Autocomplete Search"
                          placeholder="Autocomplete Search"
                          [autocompleteOptions]="autoCompleteOptionsObjects"
                          autoCompleteOptionDisplayProperty="name"></planhub-search>
        </div>
      </form>
    </planhub-card>
  </div>
</div>
